@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 200px 0 200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-self: start;
  padding-top: 20px;
  list-style: none;
  gap: 70px;
}

li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 700;
}

.maintextAndImage {
  display: flex;
  justify-content: space-between;
  padding: 0 200px 0 200px;
  flex-wrap: wrap;
}

.subtextAndButton {
  padding: 0 200px 100px 200px;
  color: #e5e7eb;
  font-size: 18px;
}

.signUp {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.signUp:hover {
  background-color: #4067a4;
}

.description {
  margin-top: 30px;
  font-size: 48px;
  color: #e5e7eb;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.infoHeader {
  text-align: center;
}

.subtext {
  margin-top: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.box {
  flex: 1;
  border: #3882f6 solid;
  border-color: #3882f6;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  height: 150px;
  width: min-content;
}

.container4 {
  text-align: center;
  padding: 200px;
  font-size: 36px;
  font-style: italic;
}

.signature {
  text-align: end;
  padding-right: 210px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 700;
}

.container5 {
  background-color: #3882f6;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1000px;
  height: 150px;
  justify-content: flex-start;
  align-items: self-start;
  margin-left: 429px;
  margin-top: 150px;
  border-radius: 8px;
}

.callToAction {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 100px;
}

.subTextAction {
  flex: 1;
  margin-right: 20px;
  margin-left: 100px;
  color: #e5e7eb;
}

#signUp {
  background-color: #3882f6;
  margin-left: 200px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: 3px solid #e5e7eb;
  border-width: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
  width: 120px;
  height: 40px;
  font-weight: 800;
}

#signUp:hover {
  background-color: #4067a4;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

/* <p>Copyright © Denis Michalski 2024</p>  */
ul a:hover {
  color: #4067a4;
}

.navbar {
  background-color: #1f2937;
}
.header {
  background-color: #1f2937;
  max-height: 950px;
}

.sectionOne {
  background-color: #fff;
}

.sectionTwo {
  background-color: #e5e7eb;
}

.sectionThree {
  background-color: #fff;
  height: 300px;
}

.footer {
  background-color: #1f2937;
  height: 100px;
}
